<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @event.about %>
</p>

<p>
  <strong>Type:</strong>
  <% if @event.eventtype == "internal" %> 学内イベント
  <% elsif @event.eventtype == "external" %> 学外イベント
  <% elsif @event.eventtype == "extra" %> 特記事項
  <% else %> 未入力
  <% end %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<td><%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'イベントを削除しますか?' } %></td>
