<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>About:</strong>
  <%= @event.about %>
</p>

<p>
  <strong>Eventtype:</strong>
  <% if @event.eventtype == 1 %> 学内イベント
  <% elsif @event.eventtype == 2 %> 学外イベント
  <% elsif @event.eventtype == 3 %> バンド練
  <% else %> 未入力
  <% end %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
